h2{
    margin:20px auto;
    width:fit-content;
}
.formulaire{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    margin:0 auto 20px auto;
    font-size: 1em;
    font-weight: 400;
    position:relative;
    padding: 40px;
    border-left: 3px solid #6e8412;
    border-right: 3px solid #6e8412;
    background-color: #94ad1818;
    border-radius:20px;
}

.formulaire h3{
    position: absolute;
    top:0;
    margin-top: -10px;
    width:fit-content;
    border-radius:10px;
    background-color:#93ad18;
    padding:5px 12px;
    font-size: 0.9em;
}
.section-identity{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    margin-bottom: 20px;
}

.section-identity> label, input{
    margin:3px 0;
}
.section-adress{
    position:relative;
    border:1px solid black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding:15px;
    width:90%;
}

.section-adress> label, input{
    margin:5px 0;
}

.section-department{

    width:100%;
}
