h2{
    margin:20px auto;
    width:fit-content;
}
.formulaire{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    margin:0 auto 20px auto;
    font-size: 1em;
    font-weight: 400;
    position:relative;
    padding: 40px;
    border-left: 3px solid #6e8412;
    border-right: 3px solid #6e8412;
    background-color: #94ad1818;
    border-radius:20px;
}

.formulaire h3{
    position: absolute;
    top:0;
    margin-top: -10px;
    width:fit-content;
    border-radius:10px;
    background-color:#93ad18;
    padding:5px 12px;
    font-size: 0.9em;
}
.section-identity{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    margin-bottom: 20px;
}

.section-identity> label, input{
    margin:3px 0;
}
.section-adress{
    position:relative;
    border:1px solid black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding:15px;
    width:90%;
}

.section-adress> label, input{
    margin:5px 0;
}

.section-department{
    height:100px;
    display:flex;
    padding-top: 10px;
    flex-direction: column;
    row-gap: 10px;
    width:100%;
}

.section-department label{
    margin-top: 5px;
}
.error{
    width:200px;
    margin:auto;
    color:red;
    text-align: center;
}

.form-save-button{
    background-color:#93ad18;
    width:fit-content;
    color:black;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    text-decoration: none;
}

.form-save-button:hover{
    background-color:#000000;
    color:#93ad18;
}