.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

.table-content-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  flex-wrap: wrap;
}

.table-content-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
  flex-wrap: wrap;
}

.table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}

th {
  border: none;
  padding: 10px;
  height: 100%;
  width: auto;
}

td {
  border-top: 1px solid black;
  border-bottom: 1px solid #6e8412;
  padding: 10px;
  height: 100%;
  width: auto;
}

tr {
  height: 50px;
}

tr:nth-child(even) {
  background-color: #94ad1818;
}

tr:hover {
  background-color: #94ad183a;
  cursor: pointer;
}

.show-entries,
.table-filter,
.pagination-controls {
  position: relative;
  width: fit-content;
  margin-bottom: 10px;
}

.arrows {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.arrows img {
  height: 10px;
}

.pagination-button,
.page-button {
  display: inline-block;
  min-width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(to top, grey, #94ad183a);
  color: black;
  border-radius: 4px;
}

.pagination-button:hover,
.page-button:hover {
  background-color: black;
  color: white;
}

.pagination-button:disabled,
.page-button:disabled {
  cursor: default;
}


.page-button.active {
  background-color: black;
  color: white;
}

@media screen and (max-width: 850px) {

  .table,
  thead,
  tbody,
  th,
  td {
    display: block;
  }

  .table {
    height: fit-content;
    min-width:300px;

  }

  .table thead tr {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:10px;
    margin:auto;
    width:95%;
    column-gap: 5px;
    background-color: transparent;
  }
  .table thead tr th{
    display:flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
    white-space: wrap;
    position:relative;
    padding:5px;
    background: #f8f8f8;
    width:fit-content;
  }
  .table thead tr th:hover{
    background: #d3ff235c;


}
  .arrows-container{
    position:relative;
    margin:0px auto 0px auto;
  }
  .arrows-container span{
    margin:auto;
  }

  .arrows{
    top:0;
    position:relative;
    align-items: center;
  }
  .table td:before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 200px;
    min-width: 100px;
    white-space: nowrap;
    background: #f8f8f8;
    margin-right: 10px;
    border:none;
  }

  .table td {
    display: flex;
    align-items: center;
    border:none;
    height:20px;

  }
  .table td>p{
    background: #f8f8f8;
    padding:0 50px;
    width:100%;
  }
  .table tr {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }


  .page-button {
   
    min-width: 20px;
    height: 20px;
    font-size: 10px;
  }
}