.header-content{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.header-logo{
    width:150px;
    height:auto;
    margin:auto;
}
.header-logo img{
    object-fit: contain;
    height:100%;
    width:100%;
}

h1{
    margin:20px auto;
    width:fit-content;
}

button{
    background-color: #94ad183a;
    text-decoration: underline;
    cursor:pointer;
    border:none;
    font-size: 1.2em;
    border-radius: 15px;
    margin:auto;
}
