.header-content{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

h1{
    margin:20px auto;
    width:fit-content;
}

button{
    background-color: white;
    border:none;
    text-decoration: underline;
    cursor:pointer;
    font-size: 1.2em;
    margin:auto;
}
